name: destroy

on:
  repository_dispatch:
    types: [destroy-infr]

concurrency:
  group: destroy-infr
  cancel-in-progress: false

jobs:
  terraform:
    name: "Terraform"
    runs-on: ubuntu-24.04
    steps:
      - name: checkout
        uses: actions/checkout@main
      
      - name: send telegram message
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            ${{ vars.BEGIN_DESTROY_MESSAGE }}

      - name: "Terraform Init"
        uses: ops18/terraform-github-actions@master
        with:
          tf_actions_version: "1.4.0"
          tf_actions_comment: "false"
          tf_actions_working_dir: "./terraform"
          tf_actions_subcommand: init
          args: >
            -backend-config="bucket=${{ secrets.GCP_BUCKET }}"
            -backend-config="prefix=terraform-state"
        env:
          TF_VAR_region: ${{ vars.REGION }}
          TF_VAR_project_id: ${{ secrets.PROJECT_NAME }}
          TF_VAR_zone: ${{ vars.ZONE }}
          TF_VAR_instance_name: ${{ vars.INSTANCE_NAME }}
          TF_VAR_service_account: ${{ secrets.GCP_SA_EMAIL }}
          GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}

      - name: "Terraform Destroy"
        uses: ops18/terraform-github-actions@master
        with:
          tf_actions_version: "1.4.0"
          tf_actions_comment: "false"
          tf_actions_working_dir: "./terraform"
          tf_actions_subcommand: apply
          args: '-destroy -auto-approve'
        env:
          TF_VAR_region: ${{ vars.REGION }}
          TF_VAR_project_id: ${{ secrets.PROJECT_NAME }}
          TF_VAR_zone: ${{ vars.ZONE }}
          TF_VAR_instance_name: ${{ vars.INSTANCE_NAME }}
          TF_VAR_service_account: ${{ secrets.GCP_SA_EMAIL }}
          GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}

      - name: send telegram message
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            ${{ vars.DESTROY_MESSAGE }}
