name: send ip address to players

on:
  repository_dispatch:
    types: [send-ip-address]

concurrency:
  group: send-ip-address
  cancel-in-progress: false

permissions:
  contents: read
  id-token: write

jobs:
  terraform:
    name: "Terraform"
    runs-on: ubuntu-24.04
    environment: aria-production

    env:
      # Terraform variables (from environment)
      TF_VAR_region: ${{ vars.REGION }}
      TF_VAR_project_id: reflected-gamma-341201
      TF_VAR_zone: ${{ vars.ZONE }}
      TF_VAR_instance_name: ${{ vars.INSTANCE_NAME }}
      TF_VAR_service_account: ${{ vars.GCP_VM_SERVICE_ACCOUNT }}
      TF_VAR_machine_type: ${{ vars.MACHINE_TYPE }}
      TF_VAR_boot_image: ${{ vars.BOOT_IMAGE }}
      TF_VAR_boot_disk_size_gb: ${{ vars.BOOT_DISK_SIZE_GB }}
      TF_VAR_data_disk_name: ${{ vars.DATA_DISK_NAME }}
      TF_VAR_network_name: ${{ vars.NETWORK_NAME }}
      TF_VAR_subnet_name: ${{ vars.SUBNET_NAME }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        id: auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ vars.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ vars.GCP_SERVICE_ACCOUNT }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.10.0"

      - name: Terraform Init
        working-directory: ./terraform
        run: |
          terraform init -upgrade \
            -backend-config="bucket=${{ secrets.GCP_BUCKET }}" \
            -backend-config="prefix=terraform-state"

      - name: Terraform Refresh
        working-directory: ./terraform
        run: terraform apply -refresh-only -auto-approve

      - name: Get Terraform Output
        id: terraform
        working-directory: ./terraform
        run: echo "instance_ip=$(terraform output -raw instance_ip)" >> $GITHUB_OUTPUT

      - name: Send telegram message
        uses: appleboy/telegram-action@v1.0.0
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: ${{ steps.terraform.outputs.instance_ip }}
